<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="Input Effort Grades" class="w-full">
            <vex-breadcrumbs [crumbs]="[pageStatus]" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>

    <vex-page-layout-content class="-mt-6">
        <div class="card overflow-auto -mt-16" *ngIf="pageInit === 1">
            <div>
                <h4 class="font-medium px-6 py-4">{{ "selectATeacher" | translate }}</h4>
            </div>
            <mat-divider class=""></mat-divider>
            <div class="bg-white px-6 md:h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <div class="md:flex w-full">
                    <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
                        <div class="flex items-center">
                            <input class="border-0 outline-none w-full bg-transparent" placeholder="Search..."
                                type="search">
                            <button class="ml-4" mat-icon-button type="button">
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <table mat-table [dataSource]="takeAttendanceList" class="mat-elevation-z8 shadow-none">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>{{ "name" | translate }}</th>
                    <td mat-cell *matCellDef="let element">
                        <a (click)="viewEffortGradeDetails()" class="text-blue cursor-pointer">{{ element.name }}</a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="staffID">
                    <th mat-header-cell *matHeaderCellDef>{{ "staffId" | translate }}</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.staffID }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="openSisProfile">
                    <th mat-header-cell *matHeaderCellDef>{{ 'openSISProfile' | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.openSisProfile }}</td>
                </ng-container>
                <ng-container matColumnDef="jobTitle">
                    <th mat-header-cell *matHeaderCellDef>{{ 'jobTitle' | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.jobTitle }}</td>
                </ng-container>
                <ng-container matColumnDef="schoolEmail">
                    <th mat-header-cell *matHeaderCellDef>{{ 'schoolEmail' | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.schoolEmail }}</td>
                </ng-container>
                <ng-container matColumnDef="mobilePhone">
                    <th mat-header-cell *matHeaderCellDef>{{ 'mobilePhone' | translate }}</th>
                    <td mat-cell *matCellDef="let element">{{ element.mobilePhone }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 40]"
                showFirstLastButtons></mat-paginator>
        </div>
        <vex-effort-grade-details *ngIf="pageInit === 2"></vex-effort-grade-details>
    </vex-page-layout-content>
</vex-page-layout>
