<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title class="mb-4">
    <h2 class="headline m-0" fxFlex="auto">
        {{ "assignCourseSections" | translate }}
    </h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column">
    <ul class="grid grid-cols-1 md:grid-cols-3 col-gap-4 mt-6">
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "course" | translate }}</mat-label>
                <mat-select>
                    <mat-option value="otherGradeLevelTaught">Geometry</mat-option>
                </mat-select>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "subject" | translate }}</mat-label>
                <mat-select>
                    <mat-option value="primarySubjectTaught">Mathematics</mat-option>
                </mat-select>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "program" | translate }}</mat-label>
                <mat-select>
                    <mat-option value="otherSubjectTaught">All Program</mat-option>
                </mat-select>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{ "markingPeriod" | translate }}</mat-label>
                <mat-select>
                    <mat-option value="markingPeriod">Quarter 1</mat-option>
                </mat-select>
            </mat-form-field>
        </li>
    </ul>
</mat-dialog-content>

<div class="-mx-6 border-t overflow-auto">
    <table mat-table [dataSource]="teacherDetails" class="mat-elevation-z8 shadow-none mb-6">
        <ng-container matColumnDef="courseSelected">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox color="primary" [checked]="element.courseSelected"></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef>{{ "course" | translate }}</th>
            <td mat-cell *matCellDef="let element">
                <div>{{ element.course }}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="courseSection">
            <th mat-header-cell *matHeaderCellDef>{{ "courseSection" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.courseSection }}</td>
        </ng-container>
        <ng-container matColumnDef="markingPeriod">
            <th mat-header-cell *matHeaderCellDef>{{ "markingPeriod" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.markingPeriod | translate }}</td>
        </ng-container>
        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef>{{ "startDate" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.startDate | translate }}</td>
        </ng-container>
        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef>{{ "endDate" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.endDate | translate }}</td>
        </ng-container>
        <ng-container matColumnDef="seats">
            <th mat-header-cell *matHeaderCellDef>{{ "seats" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.seats | translate }}</td>
        </ng-container>
        <ng-container matColumnDef="available">
            <th mat-header-cell *matHeaderCellDef>{{ "available" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.available | translate }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
<h5 class="text-lg text-primary font-semibold">{{ 'selectedCourseSection' | translate }}</h5>
<div>
    <span class="rounded-full py-1 px-3 bg-skyblue-light border border-gray inline-block mt-3 mr-3">Geometry - GEOM001
        <i class="icon icon-minus-circle2 ml-2 text-gray text-base align-middle"></i>
    </span>
    <span class="rounded-full py-1 px-3 bg-skyblue-light border border-gray inline-block mt-3">Algebra - ALGB001
        <i class="icon icon-minus-circle2 ml-2 text-gray text-base align-middle"></i>
    </span>
</div>
<div class="text-right p-6 pb-0">
    <button color="primary" mat-raised-button type="submit">
        {{ 'assignSelectedCourseSections' | translate }}
    </button>
</div>